#root {
  margin: 0;
  width: 100%;
  padding: 2rem;
  text-align: center;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: #FAF1E6;
}

input {
  width: 400px;
  height: 30px;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid;
}

img {
  width: 100px;
  height: 300px;
}
